__pycache__
.venv*
*.pyc
**.DS_Store
**.coverage
**.hypothesis
coverage.xml
**.idea
docstring-coverage.txt
.mypy_cache/
data/**
checkpoints/**
logs/**
logs_eval/**
debug_logs/**
**.egg-info
.vscode/**
tokens.json
temp
temp2
wandb
lib
# ignore all notebooks
.cursorignore
.specstory
*.arrow
.secrets.env
**/.ipynb_checkpoints/
*.code-workspace

tests/**/*.txt
tests/**/*.out


# don't push .env
.env

data/**

.cursorindexingignore
hf_home
hf_datasets_cache

oracle/

logs_eval2
